<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkVista - Your LinkedIn Icebreaker Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
</head>
<body>
    <div class="container">
        <h1><i class="fas fa-link"></i> LinkVista</h1>
        <p class="subtitle">Your LinkedIn Icebreaker Assistant</p>

        <form id="name-form">
            <input type="text" id="name" name="name" placeholder="Enter Full Name">
            <button id="magic-button" type="submit">Generate Insights</button>
        </form>

        <div id="result">
            <img id="profile-pic" src="" alt="Profile Picture" style="display: none;">

            <h2>Summary</h2>
            <p id="summary-and-facts"></p>

            <h2>Interesting Facts</h2>
            <div id="interests"></div>

            <h2>Ice Breakers</h2>
            <div id="ice-breakers"></div>

            <h2>Topics of Interest</h2>
            <div id="topics-of-interest"></div>
        </div>
    </div>

    <div class="spinner-container" id="spinner-container" style="display: none;">
        <i id="loading-spinner" class="fas fa-spinner fa-spin"></i>
    </div>

    <script>
        $(document).ready(function () {
            $('#name-form').on('submit', function (e) {
                e.preventDefault();
                $('#spinner-container').show();
                $.ajax({
                    url: '/process',
                    data: $('#name-form').serialize(),
                    type: 'POST',
                    success: function (response) {
                        $('#profile-pic').attr('src', response.picture_url).show();
                        $('#summary-and-facts').text(response.summary);
                        $('#interests').html('<ul>' + response.facts.map(f => `<li>${f}</li>`).join('') + '</ul>');
                        $('#ice-breakers').html('<ul>' + response.ice_breakers.map(ib => `<li>${ib}</li>`).join('') + '</ul>');
                        $('#topics-of-interest').html('<ul>' + response.interests.map(t => `<li>${t}</li>`).join('') + '</ul>');
                    },
                    error: function (error) {
                        console.log(error);
                    },
                    complete: function () {
                        $('#spinner-container').hide();
                    }
                });
            });
        });
    </script>
</body>
</html>
